@tailwind base;
@tailwind components;
@tailwind utilities;

/*  --- 07 Whitespace
 -SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

body{
  color: #eee;
}


.m-big{
  margin: 64px;
}

.p-sections{
  padding: 64px;
}
.p-big{
  padding: 48px;
}
.p-medium{
  padding: 32px;
}
.p-small{
  padding: 24px;
}
.button-primary{
  @apply bg-[#2844a1] p-4 border-none text-[#eee] hover:bg-[#fadd88] hover:text-[#333] ease-in duration-300 cursor-pointer;
}

.hrline{
  @apply after:content-[''] text-5xl text-primary font-bold  after:h-[2px] after:w-[100%] after:bg-secondary relative after:absolute  after:bottom-0 after:left-0  inline-block;
}

.container{
  @apply max-w-[1400px] my-0 mx-auto py-[48px] ;
}
.testomonial{
  @apply before:absolute before:content-['"'] before:top-[-20px] before:text-8xl before:italic before:left-[-50px] before:text-secondary after:absolute after:content-['"'] after:bottom-[-50px]  after:text-8xl after:italic after:-right-5 after:text-secondary after:-z-10;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: #eee;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

:root{
  --swiper-navigation-size: 10px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: #28449f;
  --swiper-pagination-color: #28449f;
  --swiper-pagination-bullet-inactive-color: rgb(170, 139, 47);
}

.destination-country{
  @apply p-5 text-center ;
}